<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>webapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet><servlet-name>controller</servlet-name><servlet-class>com.jrapid.controller.DefaultController</servlet-class></servlet>
	<servlet-mapping><servlet-name>controller</servlet-name><url-pattern>/xml/*</url-pattern></servlet-mapping>
	<servlet-mapping><servlet-name>controller</servlet-name><url-pattern>/xmlrpc/*</url-pattern></servlet-mapping>
        <servlet-mapping><servlet-name>controller</servlet-name><url-pattern>/upload/*</url-pattern></servlet-mapping>
        <servlet-mapping><servlet-name>controller</servlet-name><url-pattern>/report/*</url-pattern></servlet-mapping>
	<filter><filter-name>sessionFilter</filter-name><filter-class>com.jrapid.presentation.SessionFilter</filter-class></filter>
	<filter-mapping><filter-name>sessionFilter</filter-name><url-pattern>/*</url-pattern></filter-mapping>
	<servlet><servlet-name>imagereport</servlet-name><servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>imagereport</servlet-name><url-pattern>/imagereport</url-pattern></servlet-mapping>
	
	<listener><listener-class>com.jrapid.controller.ReloadListener</listener-class></listener>
	
	<jsp-config>
		<taglib><taglib-uri>http://www.jrapid.com/bi</taglib-uri><taglib-location>/WEB-INF/bi.tld</taglib-location></taglib>
	</jsp-config>
	
	<distributable />
</web-app>
