	@import url(master/master.css);
	
/* ----------------------------------------------------------------------------- */
/* Window */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 	/* title - caption */
 	 td.jrapid_window__title { color: #000; font-weight: bold; height: 20px; padding: 10px 5px 5px 0px; background-image: url(flash/Windows/top-shadow.png); position: relative; }
	 td.jrapid_window__title div.jrapid_window__caption { left:0px; position: relative; margin-left: 6px; padding-left: 2px; }
	
	/* inner - right - left - bottom - top */ 
	 td.jrapid_window__inner { border:1px solid #d3dae1; background:#fff; }      
	 td.jrapid_window__right { background: url(flash/Windows/right-shadow.png) left top repeat-y; width: 15px; padding: 0px; }
	 td.jrapid_window__bottom { background-image: url(flash/Windows/bottom-shadow.png); height: 15px; }
	 td.jrapid_window__bottoml { background-image: url(flash/Windows/bottom-left-shadow.png); height: 15px; font-size: 15px; }
	 td.jrapid_window__bottomr { background-image: url(flash/Windows/bottom-right-shadow.png); }
	 td.jrapid_window__left { background: url(flash/Windows/left-shadow.png) right top repeat-y; padding: 0px; width: 15px; }
	*:first-child+html  td.jrapid_window__left { padding: 0px 7px 0px 8px; }
	 td.jrapid_window__topright { background-image: url(flash/Windows/top-right-shadow.png); width: 15px; }
	*:first-child+html  td.jrapid_window__topright { padding: 0px 7px 0px 8px; }
	 td.jrapid_window__topleft { background-image: url(flash/Windows/top-left-shadow.png); width: 15px; }
	*:first-child+html  td.jrapid_window__topleft { padding: 0px 7px 0px 8px; }	
	
	/* buttons */
	 td.jrapid_window__title div.jrapid_window__images { position: relative; float:right; }
	 a.jrapid_window__closebutton { width: 15px; height: 15px; background-image: url(flash/Windows/close.gif); margin-left: 2px; margin-right: 0px; }
	 a.jrapid_window__closebutton:hover { background-image: url(flash/Windows/close-hover.gif); }  
	 a.jrapid_window__maxbutton { width: 15px; height: 15px; background-image: url(flash/Windows/maximize.gif); margin-left: 0px; margin-right: 0px; }
	 a.jrapid_window__maxbutton:hover { background-image: url(flash/Windows/maximize-hover.gif); }
	 a.jrapid_window__minbutton { width: 15px; height: 15px; background-image: url(flash/Windows/minimize.gif); margin-left: 0px; margin-right: 2px; }
	 a.jrapid_window__minbutton:hover { background-image: url(flash/Windows/minimize-hover.gif); }
	 a.jrapid_window__helpbutton { width: 15px; height: 15px; background-image: url(flash/Windows/minimize.gif); }
	 a.jrapid_window__helpbutton:hover { background-image: url(flash/Windows/help_button_hover.gif); }
	 a.jrapid_window__restorebutton { width: 15px; height: 15px; background-image: url(flash/Windows/restore.gif); margin-left: 0px; margin-right: 0px; }
	 a.jrapid_window__restorebutton:hover { background-image: url(flash/Windows/restore-hover.gif); } 
	
/* ----------------------------------------------------------------------------- */
/* Menu  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    div.menucontainer { background: url(flash/header-bg.gif) 0px 0px repeat-x; }
	ul.menubar { background: none; border:0px; height:auto; }
    ul.menubar li a,
    ul.menubar li a:visited { background: url(flash/header-bg.gif) 0px 0px repeat-x; border:none; color:#000; text-decoration:none; }
	ul.menubar li:hover a,    
    ul.menubar li a:hover { background-image: none; background-color: #87a2b2; color:#fff; }
	ul.menubar li li { border-top:1px dashed #ddd; }
	ul.menubar li:hover ul li a,
	ul.menubar li a:hover ul li a  { background-image: none; background-color:#fff; color: #0f0e4f; }
	ul.menubar li:hover ul li:hover a,
	ul.menubar li a:hover ul li a:hover { background-image: none; background-color: #87a2b2; color:#fff; }	
    ul.menu { background-color:#fff; border:1px solid #c5d2d8 }

/* ----------------------------------------------------------------------------- */
/* toolbar  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 	/*
 	ul.toolbar { background: #b3bcc4 url(flash/header-bg.gif) left top repeat-x; border:0px solid black; }
    ul.toolbar li a { background: #b3bcc4 url(flash/header-bg.gif) left top repeat-x; margin:1px 1px 0px 1px; padding: 2px 6px; height:23px; display:block; }
    ul.toolbar li a:hover {  margin: 0px; background-image: none; background-color: #fff; border:1px solid #b3bcc4;}
    */
	ul.toolbar { display: none; }    

/* ----------------------------------------------------------------------------- */
/* Table */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */               
	table.jrapid_table thead th { background: url(flash/header-bg.gif) left top repeat-x; border:1px solid #cee0eb; }
	table.jrapid_table thead th:hover { background-color: #87a2b2; }
	table.jrapid_table td { border-bottom: 1px solid #cee0eb; border-right: 1px solid #cee0eb; }
	tr.jrapid_table_tr__selected { background-color: #87a2b2 }

/* ----------------------------------------------------------------------------- */
/* bi */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	table.bi_ct td { border: 1px solid #cfe2f1; }
	table.bi_ct thead th { background: #bccfe9 url(flash/bi/views.png) left top repeat-x; border-left: 1px solid #bbcfe8; color: #546f96; }
	table.bi_ct tbody th { background: #e7eef4 url(flash/bi/tbody-th.jpg) left top repeat-x; }
	table.bi_ct thead th a.bi_ctorder { color: #546f96; }
	/* ----------------------------------------------------------------------------- */
	/* BI - windows - table  */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
	.bi_tablehead { background: #bccfe9 url(flash/bi/views.png) left top repeat-x; border-left: 1px solid #bbcfe8; color: #546f96; }
	.bi_tableheadrows { background-color: #fff; border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-bottom: 1px solid #aca899; border-right: 1px solid #aca899; }
	.bi_table { border: 1px solid #CFE2F1; color: #363636; border-left: 0px solid #aca899;  }
	/* ----------------------------------------------------------------------------- */
	/* BI - Crosstab  */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* ----------------------------------------------------------------------------- */
	/* BI - headerContent  */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	#container div.headerContent { background: #a2bce1 url(flash/bi/thead-th-2.jpg) left top repeat-x; border: 1px solid #c9d8ed; color: #546f96; }
	#container div.headerContent span.bi_title { color: #546f96; }
	#container div.headerContent ul.headerNavegation li a { color: #546f96;  }
	#container div.headerContent ul.headerNavegation li a:hover { background: url(flash/bi/layout-views-navegation-li-hover-b.png) right -22px no-repeat; color: #546f96; }
	#container div.headerContent ul.headerNavegation li a:hover b { background: url(flash/bi/layout-views-navegation-li-hover.png) left -22px no-repeat; color: #546f96; }
	/* activo a */
	#container div.headerContent ul.headerNavegation li.activo a,
	#container div.headerContent ul.headerNavegation li.activo a:link,
	#container div.headerContent ul.headerNavegation li.activo a:hover,
	#container div.headerContent ul.headerNavegation li.activo a:active { background: url(flash/bi/layout-views-navegation-li-hover-b.png) right 0px no-repeat;  }	
	
/* ----------------------------------------------------------------------------- */
/* Tab  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.jrapid_tab { border:1px solid #919b9c; margin-bottom:10px; }
	ul.jrapid_tabpane li a {  color:#666; background: url(flash/TabPane/item-left.gif) left top no-repeat; }
	ul.jrapid_tabpane li a b { background: url(flash/TabPane/item-right.gif) right top no-repeat; }
	ul.jrapid_tabpane li a:hover { color:black; background: url(flash/TabPane/selected-left.gif) left top no-repeat; }
	ul.jrapid_tabpane li a:hover b { background: url(flash/TabPane/selected-right.gif) right top no-repeat; }
	ul.jrapid_tabpane li.active a,
	ul.jrapid_tabpane li.active a:hover,
	ul.jrapid_tabpane li.active a:active { color:black; background:  url(flash/TabPane/selected-left.gif) left top no-repeat; }
	ul.jrapid_tabpane li.active a b,
	ul.jrapid_tabpane li.active a:hover b,
	ul.jrapid_tabpane li.active a:active b { background: url(flash/TabPane/selected-right.gif) right top no-repeat; }

/* ----------------------------------------------------------------------------- */
/* Tooltips */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */                         
	.jrapid_tooltip div { background:#d8e1e6; color: #54707d; border:1px solid #cee0eb; position: absolute; } 

/* ----------------------------------------------------------------------------- */
/* Accordeon */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    
	div.jrapid_accordeon { background: none; }
	div.jrapid_accordeonitem {  font: 11px Tahoma, Verdana, Arial, sans-serif; border:1px solid #c5d2d8; border-top:none; margin:0px 15px 10px 0px; }     
	button.jrapid_accordeonitem_button { text-transform:uppercase; color:#000; padding: 5px 0 5px 0; background:#cad5db url("flash/header-bg.gif") repeat-x; border:none; }
	div.jrapid_accordeonitem_body { background:url(flash/Accordeon/layout-accordeon.png) repeat-x scroll left bottom #fafafa; overflow: hidden; padding: 10px 15px; }

/* ----------------------------------------------------------------------------- */
/* Form */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
	div.jrapid_property input, select, div.jrapid_property textarea { border:1px solid #ccdaee; } 
	div.jrapid_property input:focus, div.jrapid_property textarea:focus, div.jrapid_property select:focus { border: 1px solid #f14900; }
	div.jrapid_property input[type='radio'], div.jrapid_property input[type='checkbox'] { border:none; }
	div.jrapid_property input:focus[type='radio'], div.jrapid_property input:focus[type='checkbox'] { border:0px solid #f14900; }
	select#pageselect { margin:0px 6px; }
	div#pagebar > label { font-family:Tahoma,Verdana,Arial; margin-left:10px; }	
	div#pagebar { margin-bottom:10px; }

	/* ----------------------------------------------------------------------------- */
	/* 	buttons */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	input#submit,
	div#actionbar > button,
	div.buttonbar button,
	div.buttonbar input,
	button.jrapid_filebutton,
	div#pagebar > button { background: #fff url(flash/button/header-bg.png) left bottom repeat-x; border:1px solid #a7bac3; color:#333; cursor:pointer; font-size:11px; height:auto; margin-left:6px; padding:6px 8px; }
	button.jrapid_filebutton { margin:0px; padding:4px; } 		
	div#pagebar > button { margin-left:0px; padding:2px; } 		
	/* hover */
	div#pagebar > button:hover,
	div#actionbar > button:hover,
	input#submit:hover,
	div.buttonbar input:hover,
	button.jrapid_filebutton:hover { border:1px solid #638595; color:#000; }
	/* active */
	input#submit:active,
	input#submit:active,
	div#actionbar > button:active,
	div.buttonbar button:active,
	div.buttonbar input:active,
	button.jrapid_filebutton:active,
	div#pagebar > button:active { background: #fff url(flash/button/header-bg-active.png) left top repeat-x; border-color:#273941; outline: none } 
	/* ----------------------------------------------------------------------------- */
	/* 	fieldset legend input select */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	fieldset#filterfieldset { border:none; margin-left:0px; padding-left:0px; }	
	fieldset#filterfieldset legend { display:none; }
	fieldset#filterfieldset input,
	fieldset#filterfieldset select { margin-right:6px; border:1px solid #aaa; }

	/* ----------------------------------------------------------------------------- */
    /*	entitycollection is the default widget for properties collection of entities */
    /* 	window_select_window a */
    /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */  	
	div.jrapid_entitycollection a, 
	div.window_select_window a { background: #fff url(flash/button/header-bg.png) left bottom repeat-x; border:1px solid #a7bac3; color:#333; cursor:pointer; padding:3px 8px 3px 8px; }
	div.jrapid_entitycollection a span,
	div.window_select_window a span { background:none; height:auto; padding:0px; }
	/* hover */	
	div.jrapid_entitycollection a:hover,
	div.window_select_window a:hover { background: #fff url(flash/button/header-bg.png) left bottom repeat-x; border:1px solid #638595; color:#000; }
	div.jrapid_entitycollection a:hover span, 
	div.window_select_window a:hover span { background: none; }
	/* active */	
	div.jrapid_entitycollection a:active, 
	div.window_select_window a:active { background: #fff url(flash/button/header-bg-active.png) left top repeat-x; border-color:#273941; }
	div.jrapid_entitycollection a:active span, 
	div.window_select_window a:active span { background: none; }
	
/* ----------------------------------------------------------------------------- */
/* datapicker */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* Component containers
	- - - - - - - - - - - - - - - - - - - */
	.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
	.ui-widget .ui-widget { font-size: 1em; }
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
	.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
	.ui-widget-content a { color: #222222/*{fcContent}*/; }
	.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
	.ui-widget-header a { color: #222222/*{fcHeader}*/; }
	
	/* Interaction states
	- - - - - - - - - - - - - - - - - - - */
	.ui-state-default, .ui-widget-content .ui-state-default { background: #e6e6e6/*{bgColorDefault}*/ url(flash/header-bg.gif)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; border-left: 1px solid #bbcfe8; color:#546f96; text-align: center; padding:4px 0; font-size:.9em; }
	.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
	.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
	.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
	.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
	.ui-widget :active { outline: none; }
	
	/* Interaction Cues
	- - - - - - - - - - - - - - - - - - - */
	.ui-state-highlight, .ui-widget-content .ui-state-highlight { border: 1px solid #adc0dd/*{borderColorHighlight}*/; background-imagen:none; background: #f2f4f7; color: #363636/*{fcHighlight}*/; }
	.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
	.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
	.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
	.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
	.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
	.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
	.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
	
	/* datepicker div
	- - - - - - - - - - - - - - - - - - - */
	.ui-datepicker th { color:#435b74 !important; background:none !important; border:0 none; font-weight:bold; padding:0.7em 0.3em; text-align:center; }
	#ui-datepicker-div { font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }
	
	/* img
	- - - - - - - - - - - - - - - - - - - */
	img.image { background-color:#d3dce1; border:1px solid #a7bac3; }
	
/* ----------------------------------------------------------------------------- */
/* body */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	* { margin: 0px; padding: 0px; outline: 0; }
	body { background: #fff; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif }

/* ----------------------------------------------------------------------------- */
/* Wrap */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div#wrap { }
	
/* ----------------------------------------------------------------------------- */
/* header */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.header { background: #fff url(flash/layout-header.png) left top repeat-x; }
	div.header_inner h1 { color:#000; font-size:.9em; padding-top:10px; }
	div.header_inner h2 { color:#000; font-size:.8em; font-weight:normal; margin-top:4px; }
	div.header_inner button.settings { position:absolute; right:50px; top:20px; }
	
/* ----------------------------------------------------------------------------- */
/* footer */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.footer { background:#c8d4da; border-top:1px dashed #ebf0f1; clear:both; margin-top:20px; padding:10px 0px; }
	div.footer_inner { color:#000; font-size:.7em; margin:0px auto; width:980px;}	