/*body { padding:0px 20px; }*/

/* ----------------------------------------------------------------------------- */
/* Wrap */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div#wrap { background: none; }

/* ----------------------------------------------------------------------------- */
/* Header */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.header_inner { margin:0px auto; width:inherit; }

/* ----------------------------------------------------------------------------- */
/* Container */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.container {  width:inherit; margin:10px 0px 0px !important;}
	div#panel { float:none; margin:15px 0 0 180px; width:inherit }

/* ----------------------------------------------------------------------------- */
/* Menu Vertical */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	div.menucontainer { margin: 0px 15px 0 0; }
	