
/* ----------------------------------------------------------------------------- */
/* Table */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */           
	table.jrapid_table thead th { 
	background-image: none;
	background-color:#333; 
	border:none;
	color:#eee;
	}
	table.jrapid_table thead th:hover { 
	background-color: #000;
	}
	table.jrapid_table tr:hover td { 
	background:#000;
	color:#fff;
	}
	table.jrapid_table td { 
	border:none;
	border-bottom:1px dashed #999;
	padding:5px 5px 5px 3px;
	background-color:#666; 
	color:#f4f4f4;
	}
	tr.jrapid_table_tr__selected, tr.jrapid_table_tr__selected td { 
	background:#000 !important;
	color:#fff !important;
	font-weight:bold !important;
	}