#Config { left: 10px; top: 10px; } 
#Index { left: 212px; top: 10px; } 
#Employee { left: 414px; top: 10px; } 
#Country { left: 616px; top: 10px; } 
#State { left: 818px; top: 10px; } 
#Qualification { left: 1020px; top: 10px; } 
#Interview { left: 1222px; top: 10px; } 
#Course { left: 10px; top: 49px; } 
#CourseTaken { left: 212px; top: 72px; } 
#VacationRequest { left: 1020px; top: 94px; } 
#MaritalStatus { left: 616px; top: 126px; } 
#Gender { left: 818px; top: 164px; } 
#EmployeeStatus { left: 616px; top: 165px; } 
